.table-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

table {
  border-collapse: collapse;
  width: 1000px;
}

td {
  border: 1.5px solid #000;
  outline: 1px solid #568183;
  outline-offset: -4px;
  padding: 12px 15px;
  text-align: left;
  vertical-align: top;
  height: 30px;
  width: 200px;
}

@media (max-width: 600px) {
  .table-container {
      padding: 10px;
      padding-top: 100px;
      display: flex;
      justify-content: flex-start;
      overflow-x: auto;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .table-container {
      padding: 10px;
      display: flex;
      justify-content: center;
      overflow-x: auto;
  }
}

@media (max-width: 1024px) {
  table {
      min-width: 600px;
      max-height: 60vh;
  }
}