.table-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 0 20px; /* Отступы от краев экрана */
}

table {
  border-collapse: collapse;
  width: 100%; 
  max-width: 1200px; 
}

td {
  border: 1.5px solid #000;
  outline: 1px solid #568183;
  outline-offset: -4px;
  padding: 18px 20px;
  text-align: left;
  vertical-align: top;
  height: 50px;
  width: 250px;
  font-size: 18px;
}

.quiz-introduction {
  text-align: center;
  margin: 30px 0;
  padding: 0 20px; 
}

.quiz-introduction h2 {
  font-size: 28px;
  color: #333;
  margin: 0; 
}

@media (max-width: 600px) {
  .table-container {
    padding: 10px;
    padding-top: 50px; 
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
  }

  table {
    width: 100%;
    min-width: 500px; 
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .table-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    overflow-x: auto;
  }

  table {
    width: 100%;
    min-width: 800px; 
  }
}

@media (max-width: 1024px) {
  table {
    min-width: 800px;
    max-height: 70vh;
  }
}
